body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 100;
    font-family: sans-serif;
    max-width: 100vw;
    background-image: url("./imgs/universeBG.jpg");
    background-size: 100vw;
    background-color: #091150;
}

header{
    background-color: #1C2E7099;
    color: #FFD700;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
}

.imgBox{
    container-name: imgBox;
    display: flex;
    width: auto;
}

.imgBox img{
    display: block;
    width: auto;
    max-width: 200px;
    height: auto;
    padding: 0;
    vertical-align: middle;
    justify-self: center;
    margin-left: 24px;
    margin-right: 24px;
}

header nav{
    justify-self: center;
}

.headerHero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0 24px 0;
}

.headerHero p{
    margin: 5px 10px 10px 10px;
    text-align: center;
}

.headerHero h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.headerHero p,h1{
    background: linear-gradient(270deg, #FFD700, #00CFFF, #FF69B4, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    animation: gradientShift 10s ease-in-out infinite;
}

@keyframes gradientShift {
    0% { background-position: 0 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0 50%; }
}

#parameterForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#parameterForm h2{
    text-align: center;
    margin: 2px 0 2px 0;
}

#parameterForm button{
    align-self: center;
    justify-self: center;
    margin: 5px 0 0 0;
    border: none;
    border-radius: 10px;
    background: #00CFFF;
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: #091150;
}

#parameterForm fieldset {
    border: none;
    text-align: center;
    padding: 8px;
}

#imageSec{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

.card{
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
    max-width: 25vw;
    margin: 20px 10px;
    border: 1px solid #1C2E70;
    border-radius: 20px;
    background-color: white;
}

.card p {
    text-align: center;
    font-size: 16px;
    margin: 32px 5px;
}

.card img{
    width: 100%;
    height: 25vw;
    align-self:  stretch;
    justify-self: stretch;
    border-bottom: 1px solid #1C2E70;
}